@import "./toast.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .animate-gradient {
    animation: gradient 8s ease infinite;
    background-size: 200% 200%;
  }

  .bg-grid-pattern {
    background-image:
      linear-gradient(to right, rgb(209 213 219 / 0.3) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(209 213 219 / 0.3) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.input {
  @apply w-full p-2 border rounded focus:outline-blue-500;
}
